<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating new User</title>
</head>
<body>
    <h1>Создание нового пользователя</h1>

    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}" id="name" required>
        <br>
        <label for="age">Возраст</label>
        <input type="text" th:field="*{age}" id="age" required>
        <br>
        <input type="submit" value="Создать">
    </form>
</body>
</html>