<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <h1>Страница пользователя</h1>
    <p th:text="${user.getId()}"></p>
    <p th:text="${user.getName()}"></p>
    <p th:text="${user.getAge()}"></p>

    <form th:method="post" th:action="@{/user}">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <input type="submit" value="Удалить">
    </form>
    <hr>
    <a th:href="@{/user/edit(id=${user.getId()})}">Редактировать</a>
</body>
</html>